<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>로그인</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/main.js"></script>
    </head>
    <body>
        <form action="/login" method="post">
            아이디 : <input type="text" name="uID"><br>
            비번 : <input type="password" name="uPW"><br>
            <input type="submit" value="로그인">
            <input type="reset" value="취소">
        </form>
    </body>
</html>